:root {
  --brand-color: #434455;
  --background-color: #ffffffff;
  --logo-font-family: "Raleway", sans-serif;
  --text-font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--text-font-family);
}

.logo {
  font-family: var(--logo-font-family);
  font-size: 18px;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-web {
  color: var(--IRIS, #4d5ae5);
}

.logo-studio-dark {
  color: var(--NAVY-BLUE, #2e2f42);
}

.logo-studio-light {
  color: var(--CLOUD, #f4f4fd);
}

.list-item {
  text-decoration: none;
  list-style-type: none;
}

.nav-list {
  color: var(--brand-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.address-list {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.address-list :hover,
.address-list:focus {
  color: var(--IRIS, #4d5ae5);
}
.hero-section {
  background: var(--brand-color);
}

.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.hero-button {
  background-color: #4d5ae5;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--WHITE, #fff);
}

.qualities-subtitles {
  color: var(--brand-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}

.qualities-description {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.subtitle {
  color: var(--brand-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.our-team {
  background: var(--CLOUD, #f4f4fd);
}

.our-team-item-list {
  background: var(--WHITE, #fff);
}

.item-name {
  color: var(--brand-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 2120%;
  letter-spacing: 0.4px;
}

.item-description {
  color: var(--brand-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.footer {
  background: var(--brand-color);
}

.footer-mision {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.portfolio-button {
  color: var(--IRIS, #4d5ae5);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--WHITE, #fff);
  background: var(--OCEAN, #404bbf);
}
